html, body {
/* background:#111111 none repeat scroll 0 0; */
background: url(/images/waterfall_sunrays_edit1_invert.jpg) no-repeat;
background-attachment: fixed;
color:#222222;
}

.page-header {
  /*background: none; /*#1c1c1c none repeat scroll 0 0; */
  color:white;

}

.page-header h1.app-name {
	background: url(/images/runtime_logo_600_transparent.png) no-repeat;
	height: 100px;
	text-indent: -9000px;
}

.page-header .navigation.main-nav a {
	background-color: #555555; /* #D39C3E; */
	color: white;
}

.page-header .navigation.main-nav a:hover {
	background-color: #c1c1c1;
	color: #1c1c1c;
}

.content {

	padding:1em;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-opera-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius:20px;
}
